
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }
  
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffc600;
    font-family: 'Wellfleet', monospace;
  }
  
  .name {
    font-size: 4rem;
    margin-bottom: 10px;
  }
  
  .game {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 42%;
    height: fit-content;
    overflow: hidden;
  }
  
  .hole {
    width:170px;
    height: 200px;
    flex: 25%;
    margin: 8px 20px;
    position: relative;
    overflow: hidden;
  }
  
  .hole::after{
    top: 25px;
    position: absolute;
    display: block;
    content: "";
    width:100%;
    height: 100%;
    z-index: 2;
    background: url(/dirt.svg) bottom no-repeat;
    background-size: contain;
    transform: scale(0.9);
  }
  
  .mole {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: scale(0.9);
    top: 100%;
    transition: all 0.3s;
    z-index: -1;
  }
  
  .mole::after{
    position: absolute;
    display: block;
    content: "";
    width:100%;
    height: 100%;
    z-index: -1;
    background: url(/mole.svg) center no-repeat;
    background-size: 50%;
  }
  
  .hole.up .mole {
    top: 5px;
    cursor: pointer;
  }
  
  .score {
    font-size: 90%;
    padding: 8px 15px;
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #bda654ab;
  }
  
  .buttons {
    margin-top: 40px;
    margin-left: 10px;
    padding: 10px 20px;
    cursor: pointer;
  
    font-size: 1.5rem;
    font-family: 'Wellfleet', monospace;
    background-color: #bda654ab;
    border: 2px solid black;
    border-radius: 5px;
    transition: all 0.25s;
  }
  
  .diff-button.active{
    background-color: #bd5454e5;
  }
  
  .highscore{
    margin-top: 30px;
    font-size: 1.3rem;
    font-family: operator mono;
  }
  
  .high-score{
    padding: 3px 8px;
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 2px;
    background-color: #bda654ab;
  }
  